main.main
	h1.visually-hidden Портфолио Бетокова Барасби

	section.home#home
		.home__slider.swiper-container
			.swiper-wrapper

				.home__slide.home__slide_first.swiper-slide
					.home__item
						h2.home__title I'm Barasbi Betokov
						p.home__description Create awesome websites
						a.home__button.btn(href="#about") About me

				.home__slide.home__slide_secong.swiper-slide
					.home__item
						h2.home__title My power booster
						p.home__description Anything is good if it's made of chocolate
						a.home__button.btn(href="#portfolio") View my work

				.home__slide.home__slide_third.swiper-slide
					.home__item
						h2.home__title Front-end developer from Moscow, Russia
						p.home__description The place where I grow with great inspiration
						a.home__button.btn(href="#skills") What i do

	section.about#about
		.container
			.about__column
				.about__img
					picture
						source(srcset="img/me.webp" media="(min-width: 600px)" type="image/webp")
						source(srcset="img/me.jpg" media="(min-width: 600px)")
						source(srcset="img/me-mobile.webp" type="image/webp")
						img(src="img/me-mobile.jpg" width="604" height="339" alt="Бетоков Барасби")
			
			.about__column
				h2.about__title.main-title Обо мне
				h3.about__subtitle
					span Betokov Barasbi
					span Front-end developer

				.about__description
					.about__slider.swiper-container
						.swiper-wrapper
							.swiper-slide
								.about__item
										p Привет, я front-end developer. Моя специализация: разработка клиентской части в веб-приложениях. Ищу компанию с дружным коллективом профессионалов, где смогу перенять хорошие навыки front-end разработчика и стать частью хорошей компании для дальнейшего ее развития.

										p Начал свое обучение веб-разработке в 2017 году. При разработке веб-приложений применяю современные технологии. Мне нравится решать нестандартные задачи, для совершенствования своих умений.

										p Верстаю сайты: семантично, кроссбраузерно, валидно, оптимизированно, резиново, адаптивно, доступно.

						.swiper-scrollbar
				
				a.btn(href="resume.pdf" download) Скачать резюме
	
	section.education
		.container
			h2.education__title.main-title Образование
			p.education__description Список законченых университетов

			.list
				.list__column.education__column
					.list__block
						p.list__year Август, 2016

					.list__block
						p.list__name Кабардино-Балкарский Государственный Университет
							span Информатика и вычислительная техника

				.list__column.education__column
					.list__block
						p.list__year Авг, 2019

					.list__block
						p.list__name МГТУ "СТАНКИН"
							span Информатика и вычислительная техника

	section.work
		.container
			h2.work__title.main-title Опыт работы
			.work__block
				p.work__description Список мест работ, на которых я работал. 
				p.work__description Обязанности и стек технологий, которые я использовал в своей работе.

			.list
				.list__column.work__column
					.list__block
						p.list__year Авг, 2017
						p.list__year.list__year_end Июль 2018

					.list__block
						p.list__name Lantana Studio
							span html-верстальщик

						p.work__do Верстка многостраничных сайтов, лендингов.
						p.work__technology #[b Стек технологий: ] HTML5, CSS3, JQUERY, PHP, GIT.

	section.extension#skills
		.container

			h2.extension__title.main-title навыки
			p.extension__description Список применяемых технологий и примерный уровень владения ими.

			.extension__block.skills
				.skills__column
					.skills__skill.skills__skill_editor
					h3.skills__title Photoshop / Sketch / Figma
					p.skills__description Нарезка графики. Вертска макетов из PSD и не только.

				.skills__column
					.skills__skill.skills__skill_html
					h3.skills__title Html5
					p.skills__description Семантика. Flow-content. Sectioning content. Paplable content.

				.skills__column
					.skills__skill.skills__skill_css
					h3.skills__title Css3
					p.skills__description Flexbox. Медиазапросы. Переходы. UI.

				.skills__column
					.skills__skill.skills__skill_preproccess
					h3.skills__title Less / Scss
					p.skills__description Миксимы. Переменные. Import.

				.skills__column
					.skills__skill.skills__skill_js
					h3.skills__title JavaScript
					p.skills__description ES5/ES6. AJAX.
				
				.skills__column
					.skills__skill.skills__skill_jquery
					h3.skills__title Jquery
					p.skills__description Табы, аккордеон, модальные окна, tooltip...
				
				.skills__column
					.skills__skill.skills__skill_gulp
					h3.skills__title Gulp
					p.skills__description Плагины для оптимизации графики, минификация кода, компиляции препроцессоров, postCss, live reload.
				
				.skills__column
					.skills__skill.skills__skill_php
					h3.skills__title Php/Mysql
					p.skills__description Работа с формами. Вывод, добавление и изменение информации в базе данных.

	section.portfolio#portfolio
		.container
			.portfolio__title.main-title Портфолио
			.portfolio__description Разработанные web-приложения с описанием примененных технологий.

	section.feedback#feedback
		.container
			.feedback__title.main-title Обратная связь
			.feedback__description Оставьте мне сообщение. Я отвечу в ближайшее время!

			form.feedback__form.form(name="form")
				.feedback__block
					label.form__label.feedback__label(aria-label="Имя")
						input.form__input(type="text" placeholder="Имя" name="name" required)

					label.form__label.feedback__label(aria-label="Адрес электронной почты")
						input.form__input(type="email" placeholder="Email" name="email" required)
				
				textarea.form__textarea.feedback__textarea(aria-label="Сообщение" placeholder="Сообщение" name="message" required)

				button.form__button.btn.feedback__btn(type="submit") Отправить сообщение


