link(rel="preload" href="fonts/OpenSans-Regular/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin)
link(rel="stylesheet" href="css/libs-min.css")
link(rel="stylesheet" href="css/main-min.css")