html,
body {
	height: 100%;
}

body {
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	padding: 0;

	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #000000;

	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn {
	border: 2px solid #5b4c5c;
	padding: 20px 40px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	display: inline-block;

	color: #5b4c5c;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;

	transition: 0.5s background-color;

	&:hover {
		background-color: #5b4c5c;
		color: #ffffff;
	}

	@media (min-width: 1100px) {
		font-size: 16px;
	}
}

.wrapper {
	overflow-x: auto;

	@media (min-width: 1100px) {
		overflow-x: visible;
	}
}

.wrapper-inner {
	@media (min-width: 1100px) {
		margin-left: 250px;
	}

	@media (min-width: 1400px) {
		margin-left: 300px;
	}
}

.wrapper-inner_active {
	transition: 0.5s transform ease-in-out;
	transform: translateX(250px);

	@media (min-width: 1100px) {
		transform: translateX(0px);
	}
}

.container {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.main-title {
	color: #5b4c5c;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;

	position: relative;

	padding-bottom: 10px;
	margin: 0;

	&::after {
		content: "";

		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);

		background-color: #5b4c5c;

		width: 120px;
		height: 4px;
	}

	@media (min-width: 1100px) {
		font-size: 32px;
		line-height: 32px;
	}
}

.overlay {
	width: 100%;
	height: 100%;

	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;

	cursor: pointer;
}

.overlay_active {
	display: block;
}

.success {
	display: none;
	opacity: 0;
	background-color: #ffffff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	transition: opacity 0.5s;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 12;

	padding: 20px;
	max-width: 300px;
	width: 100%;

	@media (min-width: 500px) {
		max-width: 400px;
	}

	@media (min-width: 1100px) {
		padding: 40px 100px;
		max-width: none;
		width: auto;
	}
}

.success_block {
	display: block;
}

.success_opacity {
	opacity: 1;
}

.success p {
	margin: 0;
	margin-bottom: 10px;

	font-size: 14px;
	text-align: center;

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width: 1100px) {
		font-size: 18px;
	}
}

.success__close {
	background-color: transparent;
	border: 0;
	position: fixed;
	top: 10px;
	right: 10px;

	font-size: 0;
	cursor: pointer;

	height: 22px;
	width: 25px;

	&::before,
	&::after {
		content: "";

		position: absolute;
		top: 50%;
		left: 50%;
		background-color: #000000;
		border-radius: 5px;

		width: 3px;
		height: 30px;
	}

	&::before {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&::after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}