block variables
	
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="author" content="Бетоков Барасби")
		meta(name="keywords" content="Портфолио, Бетоков, Барасби, html-верстальщик, веб-разработчик, frontend-developer, фронтенд-разработчик")
		meta(name="description" content="Привет, я front-end developer. Моя специализация: разработка клиентской части в веб-приложениях. Ищу компанию с дружным коллективом профессионалов, где смогу перенять хорошие навыки front-end разработчика и стать частью хорошей компании для дальнейшего ее развития.")

		title= title
		
		include ../includes/links

	body
	.wrapper

		block header

		.wrapper-inner
			block content

			block footer
	
	script(src="js/libs-min.js")
	script(src="js/scripts-min.js")
